
<footer class="main">

		<p>Gophersaurus is a trademark of Jack Spirou. Copyright &copy; Jack Spirou.</p>
		<p class="less-significant"><a href="http://jackmcdade.com">Original Design based on Jack McDade's work</a> - <a href="http://laravel.com">laravel.com</a></p>
	</footer>

	{{ partial "search.html" . }}

	<script src="/docs/js/script.js"></script>
	<script src="/docs/js/viewport-units-buggyfill.js"></script>
	<script>window.viewportUnitsBuggyfill.init();</script>
	<script>
		// Google Analytics
	</script>
</body>
</html>
