
<footer class="main">

		<p>Gophersaurus is a trademark of Jack Spirou. Copyright &copy; Jack Spirou.</p>
		<p class="less-significant"><a href="http://jackmcdade.com">Design by Jack McDade</a></p>
	</footer>

<script id="search_footer_template" type="text/template">
	<div class="footer">

	</div>
</script>
	<script src="/js/script.js"></script>
	<script src="/js/viewport-units-buggyfill.js"></script>
	<script>window.viewportUnitsBuggyfill.init();</script>
	<script>
		// Google Analytics
	</script>
</body>
</html>
