<section class="sidebar">
		<ul>
<li>Prologue
<ul>
<li><a href="/docs/5.1/releases">Release Notes</a></li>
<li><a href="/docs/5.1/upgrade">Upgrade Guide</a></li>
<li><a href="/docs/5.1/contributions">Contribution Guide</a></li>
<li><a href="/api/5.1">API Documentation</a></li>
</ul></li>
<li>Setup
<ul>
<li><a href="/docs/5.1/installation">Installation</a></li>
<li><a href="/docs/5.1/homestead">Homestead</a></li>
</ul></li>
<li>The Basics
<ul>
<li><a href="/docs/5.1/routing">Routing</a></li>
<li><a href="/docs/5.1/middleware">Middleware</a></li>
<li><a href="/docs/5.1/controllers">Controllers</a></li>
<li><a href="/docs/5.1/requests">Requests</a></li>
<li><a href="/docs/5.1/responses">Responses</a></li>
<li><a href="/docs/5.1/views">Views</a></li>
<li><a href="/docs/5.1/blade">Blade Templates</a></li>
</ul></li>
<li>Architecture Foundations
<ul>
<li><a href="/docs/5.1/lifecycle">Request Lifecycle</a></li>
<li><a href="/docs/5.1/structure">Application Structure</a></li>
<li><a href="/docs/5.1/providers">Service Providers</a></li>
<li><a href="/docs/5.1/container">Service Container</a></li>
<li><a href="/docs/5.1/contracts">Contracts</a></li>
<li><a href="/docs/5.1/facades">Facades</a></li>
</ul></li>
<li>Services
<ul>
<li><a href="/docs/5.1/authentication">Authentication</a></li>
<li><a href="/docs/5.1/artisan">Artisan Console</a></li>
<li><a href="/docs/5.1/billing">Billing</a></li>
<li><a href="/docs/5.1/cache">Cache</a></li>
<li><a href="/docs/5.1/collections">Collections</a></li>
<li><a href="/docs/5.1/elixir">Elixir</a></li>
<li><a href="/docs/5.1/encryption">Encryption</a></li>
<li><a href="/docs/5.1/errors">Errors &amp; Logging</a></li>
<li><a href="/docs/5.1/events">Events</a></li>
<li><a href="/docs/5.1/filesystem">Filesystem / Cloud Storage</a></li>
<li><a href="/docs/5.1/hashing">Hashing</a></li>
<li><a href="/docs/5.1/helpers">Helpers</a></li>
<li><a href="/docs/5.1/localization">Localization</a></li>
<li><a href="/docs/5.1/mail">Mail</a></li>
<li><a href="/docs/5.1/packages">Package Development</a></li>
<li><a href="/docs/5.1/pagination">Pagination</a></li>
<li><a href="/docs/5.1/queues">Queues</a></li>
<li><a href="/docs/5.1/redis">Redis</a></li>
<li><a href="/docs/5.1/session">Session</a></li>
<li><a href="/docs/5.1/envoy">SSH Tasks</a></li>
<li><a href="/docs/5.1/scheduling">Task Scheduling</a></li>
<li><a href="/docs/5.1/testing">Testing</a></li>
<li><a href="/docs/5.1/validation">Validation</a></li>
</ul></li>
<li>Database
<ul>
<li><a href="/docs/5.1/database">Getting Started</a></li>
<li><a href="/docs/5.1/queries">Query Builder</a></li>
<li><a href="/docs/5.1/migrations">Migrations</a></li>
<li><a href="/docs/5.1/seeding">Seeding</a></li>
</ul></li>
<li>Eloquent ORM
<ul>
<li><a href="/docs/5.1/eloquent">Getting Started</a></li>
<li><a href="/docs/5.1/eloquent-relationships">Relationships</a></li>
<li><a href="/docs/5.1/eloquent-collections">Collections</a></li>
<li><a href="/docs/5.1/eloquent-mutators">Mutators</a></li>
<li><a href="/docs/5.1/eloquent-serialization">Serialization</a></li>
</ul></li>
</ul>
	</section>
