<nav class="main">
  <div class="container">
    <a href="https://gophersaurus.github.io/docs/" class="brand">
      <img src="/docs/img/gophersaurus_trim_blue.png" height="30" alt="Gophersaurus logo">
      Gophersaurus
		</a>

    <div class="responsive-sidebar-nav">
		  <a href="#" class="toggle-slide menu-link btn">☰</a>
		</div>

{{ if ne .Section "" }}
		<div class="switcher">
      <div class="dropdown">
		    <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
			    {{ .Section }}
			    <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

        {{ range $section, $pages := .Site.Sections }}
            {{ if ne $section "" }}
                <li role="presentation">
                      <a role="menuitem" tabindex="-1" href="/docs/{{ $section }}">{{ $section }}</a>
                </li>
            {{ end }}
        {{ end }}
		</ul>
	</div>
</div>
{{ end }}

			<ul class="main-nav">
				<li class="nav-docs"><a href="https://gophersaurus.github.io/docs/v1">overview</a></li>
        <li class="nav-docs"><a href="https://godoc.org/github.com/gophersaurus/gf.v1">api</a></li>
        <li class="nav-lumen"><a href="https://github.com/gophersaurus/govend">govend</a></li>
        <li class="nav-lumen"><a href="https://github.com/gophersaurus/gf">gf</a></li>
			</ul>
		</div>
	</nav>
