{{ partial "header.html" . }}

<div class="container">

		<section class="panel statement light">
		<div class="content">
			<h1>Love beautiful code? We do too.</h1>
			<p>The Golang Framework For API Artisans</p>
			<div class='browser-window'>
				<div class='top-bar'>
					<div class='circles'>
						<div class="circle circle-red"></div>
						<div class="circle circle-yellow"></div>
						<div class="circle circle-green"></div>
					</div>
				</div>
				<div class='window-content'>
					<pre class="line-numbers"><code class="language-php">

		package controllers

		import "github.com/gophersaurus/gf.v1"

		// HomeController contains controller logic for home.
		type HomeController struct{}

		// Index is a HomeController action method for a GET request.
		func (h HomeController) Index(resp gf.Responder, req *gf.Request) {

			// write the response in the format requested (json, jsonp, xml, or yaml)
			resp.Write(req, "Welcome fellow gopher.")
		}

		</code></pre>
					</div>
				</div>

			</div>
		</div>
		<a href="#features" style="  position: absolute;
      bottom: 150px;
      text-align: right;
      right: 50px;
      width: 300px;
      text-transform: uppercase;
      font-size: 15px;
      color: #aaa;" class="next-up">
			Powerful, Modern Features
			<img src="img/down-arrow.png">
		</a>
	</section>

	<section class="panel features dark" id="features">
		<h1>Did someone say rapid?</h1>
		<p>Elegant API designs delivered at warp speed.</p>
			<div class="blocks stacked">
				<div class="block odd">
					<div class="text">
						<h2>Expressive, beautiful syntax.</h2>
						<p>Value elegance, simplicity, and readability? You’ll fit right in. Laravel is designed for people just like you. If you need help getting started, check out <a href="https://laracasts.com">Laracasts</a> and our <a href="/docs">great documentation</a>.</p>
					</div>
					<div class="media">

						<div class='browser-window'>
							<div class='top-bar'>
								<div class='circles'>
									<div class="circle circle-red"></div>
									<div class="circle circle-yellow"></div>
									<div class="circle circle-green"></div>
								</div>
							</div>
							<div class='window-content'>
								<pre class="line-numbers"><code class="language-php">
import (
	c "path/to/controllers"
	"github.com/gophersaurus/gf.v1"
) ...
func register(r *gf.Router) {
	r.GET("/", c.Home.Index)
	r.GET("/weather/:city", c.Weather.Show)
}
	</code></pre>
							</div>
						</div>

					</div>
				</div><!-- /.block -->
				<div class="block even">
					<div class="text">
						<h2>Tailored for your team.</h2>
						<p>Whether you're a solo developer or a 20 person team, Gophersaurus keeps everyone in sync using traditional MVC arcitecture.</p>
					</div>
					<div class="media">
						<div class="terminal-window">
							<div class='top-bar'></div>
							<div class='window-content'>
								<div class="dark-code">
								<pre><code class="language-bash">

→ gf new SuperCoolProject

→ gf -h
 A CLI tool for starting new Gophersaurus projects.


	</code></pre></div>
							</div>
						</div>
					</div>
				</div><!-- /.block -->
				<div class="block odd">
					<div class="text">
						<h2>Modern toolkit. Pinch of magic.</h2>
						<p>A new look at ORMs, painless routing, powerful concurrency, and simple authentication for building modern scalable API services.
					</div>
					<div class="media">

						<div class='browser-window'>
							<div class='top-bar'>
								<div class='circles'>
									<div class="circle circle-red"></div>
									<div class="circle circle-yellow"></div>
									<div class="circle circle-green"></div>
								</div>
							</div>
							<div class='window-content'>
								<pre class="line-numbers"><code class="language-php">
	// generate resource methods for users
	Users := gf.NewResourceController(
		models.NewUser()
	)

	// extend users
	Users.Extend(models.NewAddress())

	</code></pre>
						</div>
					</div>
				</div><!-- /.block -->
			</div>
		</section>

</div>

{{ partial "footer.html" . }}
